@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
	text-align: center;
	background-color: #fff;
	color: #222;
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}

#circulitos{
    width: 100%;
    height: 400px;
    background: #999;

}

.row{
    width: 33.3%;
    height: 400px;
    float: left;
    text-align: center;

}

.img-circ{
    border-radius: 50%;
		height: 100px;
		width: 110px;
}