@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

*{
    box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #fff;
	color: #222;
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}

section{
    width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

section h2{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

a{
    text-decoration: none;
    color: #111;
}

hr{
    margin: 80px 0;
    border: 1px solid #999
}



.size{
    height: 400px;
    /*background: #999;*/
    overflow: hidden;
    
}

.row{
    width: 33.3%;
    height: 400px;
    float: left;
    text-align: center;

}

.img-circ{
    border-radius: 50%;
	height: 140px;
    width: 140px;    
}

.desc-circ{
    margin: 0 10px 20px 10px;
    color: #555;
}

.p-boton{
    margin: 30px 10px 10px 10px;
}

.boton {
    font-weight: bolder;
    border: 1px solid #111;
    padding: 5px 10px;
    border-radius: 5px;
}

.boton:hover{
    background-color: rgb(157, 157, 162);
}

.text-sect{
    width: 55%;
    float: left;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.title-sect{
    font-size: 55px;
    color: #111;
    line-height: 1;
    letter-spacing: -1px;
    margin-top: 120px;

}

.subtitle-sect{
    display: block;
    font-size: 45px;
    color: #666
}

.desc-sect{
    font-size: 25px;
    margin-top: 0px;

}

.img-sect{
    width: 45%;
    height: 100%;
    float: left;

}

.papitas{
    width: 100%;
    height: 100%;
}

.derecha{
    float: right;
}

footer p{
    text-align: left;
}

footer a{
    color: blue
}

.backToTop{
    float: right;
    margin: 0 0 10px;
}